div{
    margin-top: 20px;
}

.cursor{
    cursor: pointer;
}

#obj1{
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 15px;
}

#obj2{
    width: 20px;
    height: 20px;
    background: green;
    border: 1px solid blue;
}

#obj3{
    width: 50px;
    height: 20px;
    background: yellow;
    border: 2px dashed red;
    border-radius: 5px;
}

#obj4{
    width: 20px;
    height: 20px;
    border: 10px solid rgb(128,102,0);
    border-radius: 50%;
}

#obj5{
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid blue;
}

#obj6{
    height: 0;
    width: 50px;
    border-bottom: 50px solid green;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
}

#obj7{
    width: 80px;
    height: 45px;
    border-radius: 0 50% / 0 100%;
    background: violet;
}

#obj8{
    width: 0;
    height: 60px;
    border-left: 25px solid grey;
    border-right: 25px solid grey;
    border-bottom: 18px solid transparent;
}

#obj9{
    width: 50px;
    height: 30px;
    border-radius: 50%;
    background: orange;
    border: 1px solid black;
}

#obj10{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    background-color: black;
    transform: rotate(45deg);
}

#caja{
    width: auto;
    height: 200px;
    border: 1px solid black;
    position: relative;
    left: calc(100vw - 400px);
    display: flex;
}

